# 正在使用的配置文件
.env

# 数据库文件
*.db
db/

# Telethon 会话文件
sessions/
*.session
*.session-journal

# 日志和临时文件
logs/
/temp/

# Python 缓存和虚拟环境
__pycache__/
*.py[cod]
*$py.class
/venv/
/env/
/ENV/
.pytest_cache/

# IDE 配置文件
.idea/
.vscode/

# RSS 相关数据
/rss/media/
/rss/data/

# UFB 配置文件
/ufb/config/

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 密钥文件
*.pem